.tituloservicios{
    position: relative;
    top: 15vh;
    left: 24vh;
    width: 7vw;
    font-size: 1.4rem;
}

.servicio{
    position: relative;
    top: 20vh;
    margin-left: 24vh;
    background-color: #E6E6E6;
    width: 44.3%;
    padding-left: 3vh;
    padding-top: 25px;
    margin-top: 20px;
}

.servicio h3{
    padding-top: 20px;

    font-size: 1.9rem;
    padding-bottom: 20px;
}

/* TEXTOS SERVICIOS */

    /* QUEHACEMOS */
    .quehacemos{
        display: flex;
        flex-direction: column;
        float: right;
        width:20%;
        position: relative;
        right: 235px;
        background-color:#364050;
        color:#fff;
        top: 18vh;
    }
    .quehacemos h3{
        padding-top: 20px;
        padding-left: 15px;
        font-size: 1.9rem;
        padding-bottom: 20px;
    }

    .parrafo_quehacemos{
        padding-top:25px;
        padding-right: 20px;
        padding-left: 15px;
        padding-bottom: 15px;
    }


    /* DISEÑOWEB */

    .diseñoweb{
        margin-top: 0px;
    }

    
    .parrafo_diseñoweb{
        padding-top: 25px;
        padding-bottom: 20px;
        width:auto;
        padding-right: 25px;    
    }
    .parrafo_diseñoweb p{
        color: #000000;
    }

    
    /* DESARROLLOWEB */
    .desarrolloweb{
        margin-top: 20px;
    }
    
    .parrafo_desarrolloweb{
        padding-top: 25px;
        padding-bottom: 20px;
        width:auto;
        padding-right: 25px;
    }
    .parrafo_desarrolloweb p{
        color: #000000;
    }

    /* PRECIO */
    .precio{
        padding-bottom: 21px;
        margin-top: 5vh;
    }
    
    .hostingweb{
        margin-bottom: 13vh;
    }
    .hostingweb p{
        color: #000000;
    }

